.contactBlock {
    min-height: 100vh;
    background-color: cadetblue;
}

.title {
    background-color: gray;
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contactItems {
    border: black solid 1px;
    height: 80%;
    width: 60%;
    margin: 150px;
}

.contactItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 1px;
    height: 80%;
    width: 60%;
    margin: 80px auto;
}

.button {
    background-color: brown;
    height: 60px;
    width: 120px;
    margin-top: auto;
    margin-bottom: 25px;
}

.item {
    margin-bottom: 20px;
}
