.slider {
  position: relative;
  margin-top: 80px;
}
.sliderButton {
  position: relative;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
}
.sliderButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider img:hover {
  opacity: 0.7;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appTitle {
  color: rgb(132, 120, 120);
  text-align: center;
  font-size: 2em;
}

.description {
  font-weight: 300;
  color: #444;
}

.buttonGroup {
  display: flex;
  justify-content: center;
}

.button {
  background-color: blanchedalmond;
  color: rgb(104, 89, 89);
  border: 1px solid rgb(132, 120, 120);
  padding: 10px 20px;
  font-size: 16px;
}

.button > a,
.button > a:visited,
.button > a:link {
  text-decoration: none;
  color: rgb(104, 89, 89);
}

.button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button:hover,
.button:hover > a {
  background-color: rgb(132, 120, 120);
  color: blanchedalmond;
}

@media only screen and (max-width: 600px) {
  .appTitle {
    text-align: center;
    font-size: 25px;
  }

  .slider img {
    width: 280px;
    height: 200px;
  }

  .sliderButton {
    font-size: 1.2rem;
  }

  .description {
    font-size: 17px;
    padding: 10px 0px 15px 0px;
    margin-left: 10px;
  }

  .prevButton {
    margin: 60px 0px 0px 0px;
  }
  .nextButton {
    margin: 60px 0px 0px 0px;
  }
  .buttonGroup {
    display: flex;
    gap: 30px;
    margin: 15px 0px 0px 10px;
  }
}

@media only screen and (width: 414px) and (height: 896px) {
  .appTitle {
    /*  color: red; */
  }
  .slider img {
    width: 310px;
    height: 210px;
  }
  .description {
    font-size: 17px;
    padding: 10px 0px 15px 10px;
  }
}

@media only screen and (width: 390px) and (height: 844px) {
  .appTitle {
    /* color: maroon; */
  }

  .img {
    margin-right: 10px;
  }
}

@media only screen and (width: 430px) and (height: 932px) {
  .slider img {
    width: 330px;
    height: 220px;
  }
}

@media only screen and (min-width: 600px) {
  .appTitle {
    text-align: center;
    font-size: 25px;
  }
  .slider img {
    width: 500px;
    height: 300px;
    display: block;
    margin-left: 0px;
  }
  .description {
    font-size: 17px;
    padding: 0px 0px 5px 10px;
    margin-left: 7px;
  }
  .prevButton {
    margin: 60px 0px 0px 0px;
  }
  .nextButton {
    margin: 60px 0px 0px 0px;
  }
  .buttonGroup {
    display: flex;
    gap: 30px;
    margin: 10px 0px 0px 15px;
  }
}

@media (min-width: 768px) {
  .appTitle {
    text-align: center;
    font-size: 27px;
  }
  .slider img {
    width: 610px;
    height: 400px;
    display: block;
    margin-left: 0px;
  }
  .description {
    font-size: 18px;
    margin-left: 10px;
  }
  .prevButton {
    margin: 60px 0px 0px 0px;
  }
  .nextButton {
    margin: 60px 0px 0px 0px;
  }
  .buttonGroup {
    display: flex;
    gap: 30px;
    margin: 15px 0px 0px 20px;
  }
}
@media only screen and (min-width: 992px) {
  .appTitle {
    text-align: center;
    font-size: 30px;
  }
  .slider img {
    width: 710px;
    height: 450px;
    display: block;
    margin-left: 0px;
  }
  .description {
    font-size: 21px;
    margin-left: 20px;
  }
  .prevButton {
    margin: 60px 0px 0px 0px;
  }
  .nextButton {
    margin: 60px 0px 0px 0px;
  }
  .buttonGroup {
    display: flex;
    gap: 50px;
    margin: 15px 0px 0px 35px;
  }
}

@media only screen and (min-width: 1150px) {
  .appTitle {
    text-align: center;
    font-size: 30px;
  }
  .slider img {
    width: 710px;
    height: 450px;
    display: block;
    margin-left: 0px;
  }
  .description {
    font-size: 21px;
    margin-left: 0px;
  }
  .prevButton {
    margin: 60px 0px 0px 20px;
  }
  .nextButton {
    margin: 60px 0px 0px 0px;
  }
  .buttonGroup {
    display: flex;
    gap: 50px;
    margin: 25px 0px 0px 55px;
  }
}

@media only screen and (min-width: 1230px) {
  .appTitle {
    text-align: center;
    font-size: 30px;
  }
  .slider img {
    width: 710px;
    height: 450px;
    display: block;
    margin-left: 0px;
  }
  .description {
    font-size: 21px;
    margin-left: 0px;
  }
  .prevButton {
    margin: 60px 0px 0px 20px;
  }
  .nextButton {
    margin: 60px 0px 0px 0px;
  }
  .buttonGroup {
    display: flex;
    gap: 50px;
    margin: 25px 0px 0px 60px;
  }
}

@media only screen and (min-width: 1400px) {
  .appTitle {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .slider img {
    width: 810px;
    height: 500px;
    display: block;
    margin-left: 0px;
  }
  .description {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .prevButton {
    margin: 60px 0px 0px 50px;
  }
  .nextButton {
    margin: 60px 0px 0px 0px;
  }
  .buttonGroup {
    display: flex;
    gap: 50px;
    margin: 25px 0px 0px 80px;
  }
}
