.slider {
  margin-top: 50px;
}

.sliderButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.sliderButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider img {
  width: 1000px;
  height: 500px;
}

.slider img:hover {
  opacity: 0.7;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appTitle {
  color: rgb(132, 120, 120);
  text-align: center;
  font-size: 2em;
  margin: 0px 0px 10px 0px;
}

.description {
  font-size: 22px;
  font-weight: 300;
  color: #444;
  margin: 0px 0px 20px 0px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0px 0px 0px;
}

.button {
  background-color: blanchedalmond;
  color: rgb(104, 89, 89);
  border: 1px solid rgb(132, 120, 120);
  padding: 10px 20px;
  font-size: 16px;
}

.button > a,
.button > a:visited,
.button > a:link {
  text-decoration: none;
  color: rgb(104, 89, 89);
}

.button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button:hover,
.button:hover > a {
  background-color: rgb(132, 120, 120);
  color: blanchedalmond;
}

@media screen and (max-width: 1280px) {
  .slider {
    margin-top: 40px;
  }

  .slider img {
    width: 900px;
    height: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .slider img {
    width: 600px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .slider img {
    width: 500px;
    height: 400px;
  }
}

@media screen and (max-width: 640px) {
  .slider img {
    width: 320px;
    height: 220px;
  }

  .appTitle {
    font-size: 1.4em;
  }

  .description {
    display: none;
  }

  .sliderButton {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
