.container {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #1721ad;
  color: #fff;
}

.wrapper {
  padding: 180px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.left .description {
  max-width: 730px;
  text-align: justify;
}

.button {
  background-color: #1721ad;
  color: #fff;
  padding: 30px 65px;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.button:hover {
  background-color: #fff;
  color: #1721ad;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 65px;
    flex-direction: column;
    gap: 20px;
    color: rgb(0, 255, 242);
  }

  .left .title {
    font-size: 28px;
  }

  .left .subtitle {
    font-size: 21px;
    margin: 20px 0px 20px 0px;
  }

  .left .description {
    max-width: 100%;
    font-size: 17px;
    line-height: 30px;
  }

  .right img {
    height: 470px;
    width: 370px;
    object-fit: cover;
  }
}

@media (min-width: 576px) {
  .wrapper {
    padding: 65px;
    gap: 30px;
    color: rgb(255, 0, 179);
  }
  .left .title {
    font-size: 28px;
  }
  .left .subtitle {
    font-size: 21px;
  }
  .left .description {
    font-size: 17px;
  }
  .right img {
    height: 520px;
    width: 400px;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 65px;
    gap: 45px;
    color: green;
  }

  .left .title {
    font-size: 28px;
  }

  .left .subtitle {
    font-size: 21px;
    margin: 20px 0px 20px 0px;
  }

  .left .description {
    font-size: 17px;
    line-height: 32px;
  }
  .right img {
    height: 525px;
    width: 400px;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .wrapper {
    padding: 85px;
    color: red;
  }
  .right img {
    height: auto;
    width: 480px;
    object-fit: cover;
  }
  .left .title {
    font-size: 41px;
    font-weight: 600;
  }

  .left .subtitle {
    font-size: 31px;
    font-weight: 500;
    margin: 15px 0px 15px 0px;
    color: #e3e0e0;
  }

  .left .description {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 400;
    line-height: 34px;
    color: #ded8d8;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    padding: 120px;
    gap: 80px;
    color: rgb(238, 255, 0);
  }
  .right img {
    height: 600px;
    width: 500px;
    object-fit: cover;
  }

  .left .title {
    font-size: 50px;
    font-weight: 600;
  }

  .left .subtitle {
    font-size: 38px;
    font-weight: 500;
    margin: 20px 0px 20px 0px;
    color: #e3e0e0;
  }

  .left .description {
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    color: #ded8d8;
  }
  .button {
    margin: 35px 0px 0px 210px;
  }
}
