.container {
  height: 932px;
  width: 100%;
  position: relative;
  background-color: #1721ad;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper > * {
  width: 100%;
  padding: 1rem;
}

.left {
  flex: 0 0 auto;
}

.right {
  flex: 0 0 auto;
}

.left .description {
  max-width: 730px;
  text-align: justify;
}

.button {
  background-color: #1721ad;
  color: #fff;
  padding: 30px 65px;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
  color: #1721ad;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    /* color: green; */
    padding-top: 60px;
  }

  .left .title {
    font-size: 28px;
  }
  .left .subtitle {
    font-size: 21px;
    padding-top: 5px;
  }
  .left .description {
    font-size: 17px;
    max-width: 530px;
    padding-top: 5px;
  }
  .right img {
    height: 440px;
    width: 320px;
    object-fit: cover;
    margin-left: 55px;
  }
  .button {
    margin: 25px 0px 0px 100px;
    font-size: 16px;
    padding: 25px 60px;
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    /* color: red; */
    padding-top: 60px;
  }
  .left .title {
    font-size: 28px;
  }
  .left .subtitle {
    font-size: 21px;
    padding-top: 5px;
  }
  .left .description {
    font-size: 17px;
    max-width: 690px;
    padding-top: 5px;
  }
  .right img {
    height: 460px;
    width: 360px;
    object-fit: cover;
    margin-left: 105px;
  }
  .button {
    margin: 25px 0px 0px 170px;
    font-size: 16px;
    padding: 25px 60px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    /* color: yellow; */
    padding-top: 60px;
  }
  .left .title {
    font-size: 28px;
  }
  .left .subtitle {
    font-size: 21px;
    padding-top: 5px;
  }
  .left .description {
    font-size: 17px;
    max-width: 990px;
    padding-top: 5px;
  }
  .right img {
    height: 530px;
    width: 460px;
    object-fit: cover;
    margin-left: 195px;
  }
  .button {
    margin: 25px 0px 0px 300px;
    font-size: 16px;
    padding: 25px 60px;
  }
}
@media only screen and (min-width: 992px) {
  .wrapper > * {
    width: 50%;
   /*  color: blue; */
    padding-left: 20px;
  }
  .left .title {
    font-size: 35px;
  }
  .left .subtitle {
    font-size: 28px;
    padding-top: 15px;
  }
  .left .description {
    font-size: 22px;
    padding-top: 15px;
  }
  .right img {
    height: 550px;
    width: 460px;
    object-fit: cover;
    margin-left: 0px;
  }
  .button {
    margin: 25px 0px 0px 80px;
    font-size: 20px;
    padding: 25px 60px;
  }
}

@media only screen and (min-width: 1150px) {
  .wrapper > * {
    width: 50%;
    /* color: pink; */
    padding: 50px 0px 0px 40px;
  }
  .left .title {
    font-size: 35px;
  }
  .left .subtitle {
    font-size: 28px;
    padding-top: 30px;
  }
  .left .description {
    font-size: 22px;
    padding-top: 30px;
  }
  .right img {
    height: 650px;
    width: 510px;
    object-fit: cover;
  }
  .button {
    margin: 75px 0px 0px 80px;
    font-size: 20px;
    padding: 25px 60px;
  }
}

@media only screen and (min-width: 1400px) {
  .wrapper > * {
    width: 50%;
   /*  color: rgb(128, 0, 128); */
    padding: 75px 0px 0px 90px;
  }
  .left .title {
    font-size: 35px;
  }
  .left .subtitle {
    font-size: 28px;
    padding-top: 30px;
  }
  .left .description {
    font-size: 22px;
    padding-top: 30px;
  }
  .right img {
    height: 700px;
    width: 610px;
    object-fit: cover;
    padding-left: 70px;
  }
  .button {
    margin: 85px 0px 0px 200px;
    font-size: 20px;
    padding: 25px 60px;
  }
}
