.container {
  min-height: 95.1vh;
  width: 100%;
  background-color: #1721ad;
  color: #fff;
  padding-bottom: 20px;
}

.wrapper {
  width: 95%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 100px 0px 0px 30px;
  gap: 20px;
}

.photo {
  animation: emergence 2s ease-in;
}

.photo img {
  height: 720px;
  width: 560px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.info {
  margin: 100px 0px 0px 0px;
}

.info .title {
  margin: 0px 0px 35px 0px;
  font-size: 28px;
  animation: jumping 1.5s;
}
.info .subtitle {
  margin: 0px 0px 35px 0px;
  font-size: 22px;
  animation: jump 1.5s;
}

.info p {
  max-width: 875px;
  text-align: justify;
  animation: emergence 2s ease-in;
  margin: 0px 0px 15px 0px;
  font-size: 23px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.button {
  text-wrap: nowrap;
  background-color: #1721ad;
  color: #fff;
  font-size: 22px;
  padding: 30px 65px;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  animation: emergence 2s ease-in;
}

.button:hover {
  background-color: #fff;
  color: #1721ad;
}

@keyframes emergence {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes jump {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-20px);
  }
}

@keyframes jumping {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    gap: 40px;
  }

  .info {
    margin: 55px 0px 0px 0px;
  }

  .info p {
    margin: 0px 0px 10px 0px;
  }

  .photo img {
    margin: 45px 30px 0px 0px;
    height: 600px;
    width: 500px;
  }

  .buttonContainer {
    padding-top: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }

  .info p {
    width: 95%;
    margin: 0px 0px 20px 0px;
    font-size: 22px;
  }

  .photo {
    display: none;
  }

  .buttonContainer {
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .info p {
    font-size: 21px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    width: 92%;
    padding: 90px 0px 0px 0px;
    margin: 0px 0px 0px 15px;
  }

  .info {
    margin: 0px 0px 0px 0px;
  }

  .info p {
    font-size: 20px;
  }

  .info .title {
    margin: 0px 0px 15px 0px;
  }
  .info .subtitle {
    margin: 0px 0px 15px 0px;
  }

  .buttonContainer {
    padding-top: 10px;
    margin-bottom: 10px;
  }
}
