.aboutMe {
    background-color: black;
    padding-bottom: 5%;
}

.aboutMe .container .photo .me {
height: 500px;
border-radius: 10%;
}

.aboutMe .container .photo {
    width: 50%;
    display: flex;
    justify-content: center;
}

.aboutMe .container {
    width: 47%;
    margin-left: 3%;
}

.aboutMe .container .text {
    display: flex;
}

.aboutMe .container .text h2 {
    font-weight: 900;
    font-size: 46px;
}