.skillsBlock {
   min-height: calc(100vh - 80px);
   /*background-color: red;*/
   display: flex;
   align-items: center;
}

.skillsContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.skills {
   /*background-color: aqua;*/
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   min-height: 80vh;
   align-items: center;
}

.title {

}

