.skillsBlock {
   min-height: 100vh;
   background-color: green;
   display: flex;
   align-items: center;
}

.skillsContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.skills {
   border: 1px solid;
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   min-height: 80vh;
   align-items: center;
}

.title {
   background-color: gray;
}

