.photo {
    width: 26vw;
    height: 26vw;
    margin: 0 calc(50% - 13vw);

    border-radius: 13vw;
    background-color: lightblue;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContent {
    padding-bottom: 80px;
}

