.navWrapper {
   width: 100%;

   font-size: 4vmin;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

   position: fixed;
   top: 0;

   background-color: rgb(230, 230, 230);
}

.navWrapper > nav {
   width: 100vmin;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.navWrapper > nav > div {
   width: 21%;
   height: 80%;
   margin: 0px 2%;

   /*background-color: blueviolet;*/

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   transition: background-color 0.5s ease-in-out 50ms;

}

.navWrapper > nav > div:hover {
   background-color: slategray;

}

.navWrapper a {
   text-decoration: none;
   color: black;
}
