.container {
  background-color: #fff;
  max-height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 1px -1px 34px 3px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  animation: slideIn 1s forwards;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 0.75rem 4.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 750px;
}

.name h2 {
  font-weight: 600;
  color: #0a1acf;
  cursor: pointer;
}

.right .list {
  list-style: none;
  display: flex;
  align-items: center;
}

.listItem {
  font-weight: 500;
}

.listItem a {
  text-decoration: none;
  color: inherit;
  transition: 150ms all;
}

.listItem a:hover {
  color: #0a1acf;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 576px) {
  .wrapper {
    gap: 140px;
  }
  .listItem {
    font-size: 16px;
    margin-top: 2px;
  }
  .name {
    margin: 0px 260px 0px 0px;
    font-size: 14px;
  }
  .right .list {
    display: none;
  }
}

@media (min-width: 576px) {
  .wrapper {
    gap: 90px;
  }
  .listItem {
    font-size: 15px;
  }
  .name {
    margin: 0px 35px 0px -100px;
    font-size: 14px;
  }
  .right .list {
    gap: 37px;
  }
}

@media (min-width: 626px) {
  .wrapper {
    gap: 100px;
  }
  .listItem {
    font-size: 16px;
    margin-top: 1px;
   /*  color: navy; */
  }
  .name {
    font-size: 14px;
  }
  .right .list {
    gap: 45px;
  }
}

@media (min-width: 668px) {
  .wrapper {
    gap: 140px;
  }
  .listItem {
    font-size: 17px;
    margin-top: 2px;
   /*  color: grey; */
  }
  .name {
    font-size: 14px;
  }
  .right .list {
    gap: 50px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    gap: 170px;
  }
  .right .list {
    gap: 50px;
    margin-left: 50px;
  }
  .listItem {
    font-size: 17px;
   /*  color: yellow; */
  }
}

@media (min-width: 992px) {
  .wrapper {
    gap: 400px;
  }
  .listItem {
    font-size: 18px;
   /*  color: brown; */
  }
  .right .list {
    gap: 50px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    gap: 520px;
  }
  .right .list {
    gap: 55px;
  }
  .listItem {
   /*  color: green; */
  }
}

@media only screen and (min-width: 1300px) {
  .wrapper {
    gap: 540px;
  }
  .right .list {
    gap: 50px;
  }
  .listItem {
   /*  color: burlywood; */
  }
}

@media only screen and (min-width: 1400px) {
  .wrapper {
    gap: 550px;
  }

  .right .list {
    gap: 40px;
  }
  .listItem {
   /*  color: khaki; */
  }
}

@media only screen and (min-width: 1600px) {
  .right .list {
    gap: 40px;
  }
  .listItem {
   /*  color: greenyellow; */
  }
}
