.container {
  background-color: #fff;
  max-height: 60px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 1px -1px 34px 3px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  animation: slideIn 1s forwards;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrapper {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 660px;
}

.name h1 {
  font-weight: 600;
  color: #0a1acf;
  cursor: pointer;
}

.menu .list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.listItem {
  font-weight: 500;
  font-size: 20px;
  color: #333333;
}

.listItem a {
  text-decoration: none;
  color: inherit;
  transition: 150ms all;
}

.listItem a:hover {
  color: #0a1acf;
}

.hide {
  display: none;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1280px) {
  .hide {
    display: none;
  }

  .wrapper {
    gap: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .hide {
    display: none;
  }
  .wrapper {
    width: 95%;
    gap: 120px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
  .menu {
    display: none;
  }
  .hide {
    display: flex;
    justify-items: center;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .name h1 {
    font-size: 30px;
  }
}
