.container {
  height: 100vh;
  width: 100%;
  background-color: #1721ad;
}

.wrapper {
  margin: 0 auto;
  margin-top: 0rem;
  height: 100%;
  width: 80%;
  padding-top: 6rem;
}

.titles {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  color: rgb(211, 205, 205);
  font-size: 20px;
  font-weight: 300;
}

.title {
  color: #efefeff5;
  font-weight: bold;
  font-size: 56px;
}

.sides {
  margin: 100px 0px 0px auto;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards div {
  flex: 25%;
}

.card {
  border: 1px solid #fff;
  padding: 1.5rem;
  height: 7rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  max-width: 25rem;
}

.card span {
  text-align: center;
  color: #cec2c2;
  font-size: 19px;
}

.card:hover {
  background-color: #fff;
  color: #1721ad;
  border-color: #1721ad;
}

.card:hover span {
  color: #1721ad;
}

@media only screen and (max-width: 600px) {
  .sides {
    /* background-color: navy; */
    margin: 40px 0px 0px auto;
  }
  .cards {
    gap: 40px;
  }
  .cards div {
    flex: 50%;
  }
  .card {
    margin: 10px 0px 10px 0px;
  }
}

@media only screen and (min-width: 600px) {
  .sides {
    /* background-color: green; */
    margin: 40px 0px 0px auto;
  }
  .cards {
    gap: 40px;
  }
  .cards div {
    flex: 50%;
  }
  .card {
    margin: 10px 0px 10px 20px;
  }
}

@media (min-width: 768px) {
  .sides {
    /* background-color: yellow; */
    margin: 100px 0px 0px 0px;
  }
  .cards {
    gap: 80px;
  }
  .cards div {
    flex: 25%;
  }
  .card {
    margin: 10px 0px 10px 20px;
  }
}
@media only screen and (min-width: 992px) {
  .sides {
    /*  background-color: blue; */
    margin: 100px 0px 0px 0px;
  }
  .cards {
    gap: 80px;
  }
  .cards div {
    flex: 25%;
  }
  .card {
    margin: 10px 0px 10px 25px;
  }
}

@media only screen and (min-width: 1150px) {
  .sides {
    /*  background-color: red; */
    margin: 100px 0px 0px auto;
  }
  .cards {
    gap: 100px;
  }
  .cards div {
    flex: 25%;
  }
  .card {
    margin: 10px 0px 10px 30px;
  }
}

@media only screen and (min-width: 1400px) {
  .sides {
    /*  background-color: rgb(151, 142, 14); */
    margin: 100px 0px 0px 220px;
  }
  .cards {
    gap: 150px;
  }
  .cards div {
    flex: 25%;
  }
  .card {
    margin: 10px 0px 10px 30px;
  }
}
