.container {
  min-height: 944px;
  width: 100%;
  background-color: #1721ad;
}

.wrapper {
  margin: 0 auto;
  margin-top: 0rem;
  height: 100%;
  width: 80%;
  padding-top: 6rem;
}

.titles {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  color: rgb(211, 205, 205);
  font-size: 20px;
  font-weight: 300;
}

.title {
  color: #efefeff5;
  font-weight: bold;
  font-size: 56px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards div {
  flex: 25%;
}

.card {
  border: 1px solid #fff;
  height: 7rem;
  border-radius: 16px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  max-width: 25rem;
  display: flex;
}

.cardInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cec2c2;
  font-size: 23px;
  gap: 20px;
}

.cardInfo span {
}

.cardData {
  display: flex;
  margin-right: 150px;
  gap: 10px;
}

.cardText {
  text-decoration: none;
  color: #cec2c2;
}

.icon {
  display: flex;
  font-size: 28px;
  margin-left: 20px;
}

.card:hover {
  background-color: #fff;
  color: #1721ad;
  border-color: #1721ad;
}

.card:hover span {
  color: #1721ad;
}

@media only screen and (max-width: 600px) {
  .sides {
   /*  background-color: navy; */
  }
  .cards {
    gap: 20px;
  }
  .cards div {
    flex: 50%;
  }
  .card {
    margin: 20px 0px 10px 0px;
  }
}

@media only screen and (min-width: 600px) {
  .sides {
    /* background-color: green; */
    margin: 20px 0px 0px auto;
  }
  .cards {
    gap: 20px;
  }
  .cards div {
    flex: 50%;
  }
  .card {
    margin: 10px 0px 10px 0px;
  }
}

@media (min-width: 768px) {
  .sides {
    /* background-color: yellow; */
    margin: 50px 0px 0px 0px;
  }
  .cards {
    gap: 20px;
  }
  .cards div {
    flex: 25%;
  }
  .card {
    margin: 10px 0px 10px 0px;
  }
}
@media only screen and (min-width: 992px) {
  .sides {
   /*  background-color: blue; */
    margin: 50px 0px 0px 0px;
  }
  .cards {
    gap: 20px;
  }
  .cards div {
    flex: 25%;
  }
  .card {
    margin: 10px 0px 10px 0px;
  }
}

@media only screen and (min-width: 1150px) {
  .sides {
    /* background-color: red; */
    margin: 50px 0px 0px auto;
  }
  .cards {
    gap: 50px;
  }
  .cards div {
    flex: 25%;
  }
  .card {
    margin: 10px 0px 10px 0px;
  }
}

@media only screen and (min-width: 1400px) {
  .sides {
   /*  background-color: violet; */
    margin: 100px 0px 0px 0px;
  }
  .cards {
    gap: 120px;
  }
  .cards div {
    flex: 25%;
  }
  .card {
    margin: 10px 0px 10px 0px;
  }
}

@media only screen and (min-width: 1800px) {
  .sides {
    /* background-color: salmon; */
  }
  .cards {
    gap: 140px;
  }
  .cards div {
    flex: 25%;
  }
}
