.container {
  min-height: 99.7vh;
  width: 100%;
  background-color: blanchedalmond;
  padding-bottom: 20px;
}

.wrapper {
  margin: 0 auto;
  padding-top: 80px;
  height: 100%;
  width: 80%;
}

.titles {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  color: rgb(192, 183, 183);
  font-weight: 300;
  font-size: 23px;
}

.title {
  color: rgb(132, 120, 120);
  font-weight: bold;
  font-size: 47px;
}
